export(binaryDatedTree)
export(calculate.cluster.size.moments.from.model)
export(calculate.cluster.size.moments.from.tree)
export(coalescent.log.likelihood)
export(coalescent.log.likelihood.fgy)
export(pseudoLogLikelihood0.fgy)
export(solve.model)
export(solve.model.unstructured)
export(simulate.binary.dated.tree)
export(simulate.binary.dated.tree.fgy)
export(simulate.binary.dated.tree.0)
export(simulate.binary.dated.tree.2)
export(simulate.binary.dated.tree.fgy.2)
export(simulate.binary.dated.tree.unstructured)
export(make.fgy)
import(ape)
import(deSolve)
useDynLib("rcolgem", "initfunc", "dQAL", "initfunc_dCA", "dCA")
